[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
pytest = "*"
autopep8 = "*"
pylint-django = "*"

[requires]
python_version = "3.13"
